doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        main.d-flex.justify-content-center.align-items-center.h-full 
            button.btn.btn-primary.btn-login(type="button" ) Đăng nhập với google
					 
        script(src="../firebase/config.js" type="module")
        script(src="../services/main.js" type="module")
        script(src="../services/auth.js" type="module")  