doctype html
head
		title Pug
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" type="module")  
		script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" type="module")  
body
	main
		include ../components/header.pug
		.content
			block content
		.footer 
			include ../components/footer.pug
	script(src="../../firebase/config.js" type="module") 
	script(src="../../services/main.js" type="module")   	
	block script  
