extends ./layouts/layout.pug

block content
				section#layoutSidenav_content(style='background-color: #eee;')
					.container.py-5.list-product
						.follow-the-leader
							div
							div
							div
							div
							div

block script
		script(src="../../services/admin/product.js" type="module") 